*.swp
*.tfstate*
**/.terraform
**/*.plan
**/secret_files
**/*.tfenvs
**/aws_accounts/iam
.DS_Store
outputs/
terraform.d/
**/*.tfvars
*.log
Results/
kube-config.yaml
.*tfkubeconfig
*.zip
*.log
*logs.txt
.*tf-kubeconfig
*.vscode
*infracost*
*pre-commit*
*.tfrc