#cloud-config
ssh_authorized_keys:
- ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC06Qvs+Y9JiyOTeYNGAN/Ukq7SmeCTr7EreD1K8Lwu5VuOmo+SBZh685tNTEGV044HgFvGEOBVreDlO2ArYuwHjUBGnpQGV8/abjoeLrmZBdREAUzBQ1h2GFE/WssKUfum81cnigRK1J3tWP7emq/Y2h/Zw5F09yiCIlXMBX2auKWUCXqwG3xKTi1NVSF9N6BGyFolrAR0LZJ6k7UBXPRc/QDTclI427gSJNbnmn8LVym6YxacV/V9Y7s23iR5zYbhLPe9VJWYNk1brVvfUVb3mILVVYz76KGEq8SHdWlPQPCOp+fSJ+PezDRklnex/MmvhNrBOmMSNcpj7wSLA3hD wmaxwell@wmaxwell-laptop
- ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDI2IGShHtNFKIOm78P6Gr7YAYeR5tLWTHyeJDY2pfMHZ3iiVRUVVCIGZNiJUyyfc9LB67MS0v/dn4MuMIwh88FoCC0deWJLCvf5DRMsjn1E80/jbIZcMgFc9pMNtiVqlGhAEAs55glwmc/C0P4jJeRIlSO5X2CBNyXSJEBcKnHClVN47YF1lmoJVNGvGxna2Xp5rr2cWqV0rXjKcakIouNQNx48/UobyEQsAWg3k1gyR2TFnShFMu6ZaKbJhO6/5hcw1gJtnhDx8jNbZkexcttC4uN3ZrAUqSb/q03+Sqb6h4fIu3c8IyLiPpv82z7Mlo9kbVjOAxoMGK2T0d/ljZOrz82tRArdX95itXGqFqRtVLLRooIIcIyIw+d8oEyxv7NWzhAWiAvR6X2UAdEDQ7SZMmrnPbJypESnM2hGiAqn6P+qs2bFCTzpQqYSbXJMuXLT3xl8+CSgWlkRx9WpeH1YWTTFV65PeuIMbCbCqa1u1W6I4l+a0+LsbqUmQi3GBXwWAaGOnn4/T8yE1rgOsYkJgN0ZBztlO3xD7cwb6nwtBKvdYFXQOA7PBlJ9CV3NgroloZpj3e4Ct3dhUHDiIjkhvwt1ByoHb+kXsLvsLrEWY63K77twC/uLv736Nkre3i26SR3DTU5LnW1pOHzg7oGXnySEYEO2Y+e198KjyE50w== paraglade
runcmd:
- echo "net.ipv4.neigh.default.gc_interval = 3600" >> /etc/sysctl.conf
- echo "net.ipv4.neigh.default.gc_stale_time = 3600" >> /etc/sysctl.conf
- echo "net.ipv4.neigh.default.gc_thresh3 = 16384" >> /etc/sysctl.conf
- echo "net.ipv4.neigh.default.gc_thresh2 = 8192" >> /etc/sysctl.conf
- echo "net.ipv4.neigh.default.gc_thresh1 = 4096" >> /etc/sysctl.conf
- echo "fs.file-max = 12000500" >> /etc/sysctl.conf
- echo "fs.nr_open = 20000500" >> /etc/sysctl.conf
- echo "net.ipv4.tcp_mem = '10000000 10000000 10000000'" >> /etc/sysctl.conf
- echo "net.ipv4.tcp_rmem = '1024 4096 16384'" >> /etc/sysctl.conf
- echo "net.ipv4.tcp_wmem = '1024 4096 16384'" >> /etc/sysctl.conf
- echo "net.core.rmem_max = 16384" >> /etc/sysctl.conf
- echo "net.core.wmem_max = 16384" >> /etc/sysctl.conf
- ulimit -n 20000000
- echo "# <domain> <type> <item>  <value>" >> /etc/security/limits.d/limits.conf
- echo "    *       soft  nofile  20000" >> /etc/security/limits.d/limits.conf
- echo "    *       hard  nofile  20000" >> /etc/security/limits.d/limits.conf
- sysctl -p
- apt-get update
- apt-get install -y software-properties-common
- curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
- add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
- apt-get update
- apt-get -y install docker-ce
- DEBIAN_FRONTEND=noninteractive apt-get upgrade -y
- n=1; while [ $n -le ${k3s_per_node} ]; do docker run -d --restart=unless-stopped -e K3S_EXEC="${k3s_exec}" -e K3S_URL=https://${k3s_url}:6443 -e K3S_CLUSTER_SECRET="${k3s_cluster_secret}" --privileged --mount type=tmpfs,destination=/var/run --mount type=tmpfs,destination=/run -m 1g --cpus=".7" rancher/k3s:${install_k3s_version}; n=$(( n + 1 )); done
